.resultButton {
    display: flex; // Use flex to align icon and text
    align-items: center;
    justify-content: center;
    width: 4cm; // Adjusted width to fit icon and text
    height: 1.5cm; // Reduced height
    background-color: rgb(194, 194, 194);
    border-radius: 0.75cm 0 0 0.75cm; // Adjusted border-radius for new height
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 42.5%;
    right: 1px;
    overflow: hidden;
    z-index: 1000;
    padding-left: 0.5cm; // Add padding for spacing between edge and content
    font-size: 0.3cm; // Adjust font size
    color: black; // Text color for "ClusterONE Results"
    gap: 0.5cm; // Space between icon and text
}

.resultButton:hover {
    background-color: rgb(159, 159, 159); // Change background color on hover
}

.searchButton {
    display: flex; // Use flex to align icon and text
    align-items: center;
    justify-content: center;
    width: 4cm; // Adjusted width to fit icon and text
    height: 1.5cm; // Reduced height
    background-color: rgb(194, 194, 194);
    border-radius: 0.75cm 0 0 0.75cm; // Adjusted border-radius for new height
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    right: 1px;
    overflow: hidden;
    z-index: 1000;
    padding-left: 0.5cm; // Add padding for spacing between edge and content
    font-size: 0.3cm; // Adjust font size
    color: black; // Text color for "ClusterONE Results"
    gap: 0.5cm; // Space between icon and text
}

.searchButton:hover {
    background-color: rgb(159, 159, 159); // Change background color on hover
}