.resultButton {
    display: inline-block;
    width: 2cm; // Width should be double the height for a perfect semi-circle
    height: 4cm; // Set height
    background-color: rgb(194, 194, 194);
    border-radius: 2cm 0 0 2cm; // Apply border-radius to top-left and top-right corners
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    right: 1px;
    overflow: hidden;
    z-index: 1000;
}

.resultButton:before {
    content: '\2190'; // Unicode for a leftward arrow
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Center the arrow
    font-size: 1.2cm;
    font-weight: bold;
}

.resultButton:hover {
    background-color: rgb(159, 159, 159); // Change background color on hover
}

.multiline-cell {
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}