.complex {
    /* Fondo semitransparente */
    border-radius: 4px;
    /* Bordes redondeados */
    padding: 10px;
    /* Espaciado estándar */
    margin: 10px 0;
    /* Espaciado estándar */
    transition: all 0.3s ease;
    /* Transición suave para los efectos hover y active */
}

/* Título para el filtro complejo */
.complex-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

/* Estilo base para los inputs del filtro */
.complex input[type="number"] {

    border: 1px solid #fff;
    border-radius: 4px;
    color: #000000;
    padding: 8px;
    margin: 1px;
    transition: all 0.3s ease;
    /* Reduciendo el ancho */
}

.complex input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
}


/* Estilo para el botón Clear */
.complex button {
    /* Haciendo el fondo un poco más oscuro que el input */
    border: 1px solid #fff;
    border-radius: 4px;
    color: #000000;
    margin: 10px 5px;
    /* Espaciado estándar */
    cursor: pointer;
    /* Cambio de cursor al pasar sobre él */
    transition: all 0.3s ease;
    /* Transición suave para los efectos hover y active */
    text-align: center;
    display: block;
    width: auto;
    font-size: large;
    /* Ancho ajustado automáticamente al contenido */
}

/* Efecto hover para el botón, para que se ilumine ligeramente cuando se pasa el cursor sobre él */
.complex button:hover {
    background-color: rgba(22, 22, 22, 0.2);
}

/* Efecto active para el botón, para que tenga una sensación de "pulsado" */
.complex button:active {
    transform: scale(0.95);
    /* Se reduce ligeramente el tamaño al presionar */
}

.config-dropdown {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* Reduce el ancho al 80% de su contenedor */
    /* Fondo más claro */
    color: #000000;
    /* Color de letra blanco */
    /* Bordes blancos */
    /* Bordes ligeramente redondeados */
    padding: 8px;
    /* Reduce el espaciado interno para el texto/dropdown */
    font-size: 0.9em;
    /* Reduce el tamaño de fuente */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de fondo en hover */
    margin: auto;
    /* Centra el dropdown en su contenedor */
    text-align: center;

    &:hover {
        background-color: rgba(60, 60, 60, 0.85);
        /* Cambia el fondo al pasar el cursor */
    }

    /* Estilo para las opciones del dropdown */
    option {
        background: rgba(50, 50, 50, 0.75);
        /* Fondo igual que el dropdown */
        color: #fff;
        /* Color de letra blanco */
    }
}