.config {
    position: fixed;
    top: -2px;
    left: -4px;
    height: auto; // Changed from fixed height to allow wrapping
    min-height: 55px;
    width: 100%;
    background-color: #333333;
    box-sizing: border-box;
    padding: 0 6px;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap; // Allows items to wrap to a new line
    overflow: hidden;

    /* Media query for small screens */
    @media (max-width: 768px) {
        padding: 5px;
    }
}

.config>div {
    margin-right: 20px;

    /* Adjusting margin for small screens */
    @media (max-width: 768px) {
        margin-right: 10px;
    }
}

@media (max-width: 1589px) {

    .organism,
    .ppi,
    .complex-counter {
        font-size: 0.8rem;
    }
}

/* Smaller screens: Hide or reduce less essential items */
@media (max-width: 768px) {

    .organism,
    .ppi,
    .complex-counter {
        display: none; // Hide less important items
    }


    .highlight-checkbox {
        font-size: 0.8rem;
    }
}

/* Additional responsive styles */

.organism,
.ppi,
.complex-counter {
    font-size: 1rem;
    line-height: 55px;
}

.paccanarolab {
    font-size: 25px;
    line-height: 55px; // Ensures text is vertically centered
    font-family: 'Century Gothic', sans-serif;

    /* Responsive styling */
    @media (max-width: 1589px) {
        font-size: 16px;
    }
}