.config {
    position: absolute;
    /* Use fixed to ensure it stays at the top and spans the full width */
    // top: 0;
    // left: 0;
    height: 55px;
    width: 100%;
    background-color: #333333;
    box-sizing: border-box;
    padding: 8px 0;
    /* Adjusted padding to avoid shifting */
    color: #fff;
    overflow: auto;
    /* Adjust overflow to handle any excess */
    z-index: 1;
    margin-top: -8px;
    /* Adjusted margin to avoid shifting */
    margin-left: -8px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.config>div {
    margin-right: 20px;
}

.initialbutton {
    background-color: #444444;
    color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.initialbutton:hover {
    background-color: #555555;
}


.initialbutton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.config-dropdown {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* Reduce el ancho al 80% de su contenedor */
    background: rgba(50, 50, 50, 0.75);
    /* Fondo más claro */
    color: #fff;
    /* Color de letra blanco */
    border: 1px solid #fff;
    /* Bordes blancos */
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
    padding: 8px;
    /* Reduce el espaciado interno para el texto/dropdown */
    font-size: 0.9em;
    /* Reduce el tamaño de fuente */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de fondo en hover */
    margin: auto;
    /* Centra el dropdown en su contenedor */
    text-align: center;

    &:hover {
        background-color: rgba(60, 60, 60, 0.85);
        /* Cambia el fondo al pasar el cursor */
    }

    /* Estilo para las opciones del dropdown */
    option {
        background: rgba(50, 50, 50, 0.75);
        /* Fondo igual que el dropdown */
        color: #fff;
        /* Color de letra blanco */
    }
}