.cl1InfoButton {
    display: inline-block;
    width: 2cm;
    height: 2cm;
    background-color: #00a8cc;
    /* Celeste más oscuro */
    border-radius: 1cm;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    left: 30px;
    overflow: hidden;
    z-index: 1000;
}

.cl1InfoButton:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2cm;
    font-weight: bold;
    color: #000;
}

.cl1InfoButton:hover {
    background-color: #0077b6;
}

.quickHelpButton {
    display: inline-block;
    width: 2cm;
    height: 2cm;
    background-color: #00a8cc;
    border-radius: 1cm;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    left: 130px;
    overflow: hidden;
    z-index: 1000;
}

.quickHelpButton:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2cm;
    font-weight: bold;
    color: #000;
}

.quickHelpButton:hover {
    background-color: #0077b6;
}