.cluster-label {
    font-family: 'Century Gothic', sans-serif;
    margin-left: 25px;
    font-size: 20px;
    line-height: 55px;
    color: white;
}

/* Smaller screens: Hide or reduce less essential items */
@media (max-width: 768px) {

    /* Reduce font size and margin for small screens */
    .cluster-label {
        font-size: 18px;
        margin-right: 5px;
    }

}