.labImage {
    position: absolute;
    top: 58px;
    right: 25px;
    /* Originalmente estaba a 10px de la derecha */
    width: 5cm;
    height: 2.5cm;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    // border: 1px solid #000;
    z-index: 1000;
    object-fit: cover;
    object-position: center;
    background-color: #ffffff;
}

.fundacionImage {
    position: absolute;
    top: 20px;
    right: 30px;
    /* Ancho de labImage (5cm) + 10px original de labImage + 20px de espacio = 5cm + 30px */
    width: 5cm;
    height: 2.5cm;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #d3d1d1;
    z-index: 1000;
    background-color: #ffffff;
}

.royalHollowayImage {
    position: absolute;
    top: 20px;
    left: 30px;
    /* Ancho de labImage (5cm) + 10px original de labImage + 20px de espacio = 5cm + 30px */
    width: 5cm;
    height: 2.5cm;
    border-radius: 15px;
    overflow: hidden;
    border: 1.25px solid #d3d1d1;
    z-index: 1000;
    background-color: #d3d1d1;
}

/* Para pantallas medianas y pequeñas */
@media (max-width: 768px) {

    .labImage,
    .fundacionImage {
        width: 50%;
        /* Se reducirá el ancho de las imágenes a la mitad */
        height: auto;
        /* Se ajustará la altura automáticamente basándose en el ancho */
        right: 5%;
        /* Ajuste al margen derecho */
    }

    .fundacionImage {
        right: calc(55% + 20px);
        /* Se suman 55% del ancho (que es el ancho de labImage) y 20px de espacio */
    }
}