.fundacionImage {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 5cm;
    height: 2.5cm;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #d3d1d1;
    z-index: 1000;
    background-color: #ffffff;
}

.royalHollowayImage {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 5cm;
    height: 2.5cm;
    border-radius: 15px;
    overflow: hidden;
    border: 1.25px solid #d3d1d1;
    z-index: 1000;
    background-color: #d3d1d1;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    // position: relative;
    // padding-top: 80px;
}

/* Responsive adjustments for small screens */
@media (max-width: 820px) {
    .headerContainer {
        flex-direction: column;
        padding-top: 0;
    }

    .fundacionImage,
    .royalHollowayImage {
        position: static;
        width: 40%;
        height: auto;
        margin-bottom: 10px;
    }

    .dialogTitle {
        order: 2;
        margin-top: 10px;
    }
}