.proteinContainer {
    display: flex;
    /* Para alinear elementos horizontalmente */
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: center;
    /* Centra horizontalmente los elementos */
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.proteinLabel {
    margin-bottom: 5px;
    /* Espacio entre la etiqueta y el desplegable */
    color: white;
    // font-weight: bold;
    /* Puedes ajustar esto según tus necesidades */
    display: block;
    /* Hace que la etiqueta ocupe toda la línea, posicionándola arriba del desplegable */
}

.proteinDropdown {
    background-color: white;
    color: black;
    width: 4cm;
    height: 1cm;
    border-radius: 15px;
    /* Bordes redondeados */
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    appearance: none;
    /* Hide the default dropdown arrow */
    padding-right: 30px;
    /* Space for the icon */
    transition: transform 0.3s ease;
    /* Animación de "zoom" cuando se pasa el mouse por encima */
}

.proteinDropdown:hover {
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño al pasar el mouse por encima para la animación */
}

.proteinDropdown option {
    background-color: white;
    color: black;
    text-align: center;
}

.dropdown-icon {
    margin-left: -30px;
    pointer-events: none;
    color: black;
    font-size: 18px;
}

/* ProteinFilter.scss */

.proteinFilterInput {
    width: 200px;
}

.proteinFilterInput .MuiOutlinedInput-root {
    height: 40px;
}