.explorePpiButton {
    background-color: transparent;
    color: white;
    text-align: right;
    border: 1px solid black;
    border-radius: 5px;
    /* Puedes ajustar este valor para hacer las esquinas más o menos redondeadas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
    padding: 10px 15px;
    /* Espacio interno alrededor del texto y el ícono */
    cursor: pointer;
    /* Cambia el cursor a una mano cuando se pasa por encima */
    transition: transform 0.3s ease-in-out;
    /* Anima el botón cuando se pasa el ratón por encima */
}

.explorePpiButton:hover {
    transform: scale(1.05);
    /* Hace el botón ligeramente más grande cuando se pasa el ratón por encima */
}

.explorePpiButton i {
    margin-left: 10px;
    /* Espacio a la derecha del ícono */
    /* Aquí puedes añadir otros estilos que desees aplicar al ícono en particular */
}

/* Si tienes un tamaño específico para el ícono, puedes especificarlo. Por ejemplo, para un ícono FontAwesome: */
.explorePpiButton i.fa {
    font-size: 16px;
    /* Puedes ajustar el tamaño según lo necesites */
}



.runClusterOneButton {
    background-color: transparent;
    color: white;
    text-align: left;
    border: 2px solid white;
    border-radius: 50px;
    /* Esto le da bordes muy redondeados, dándole una forma ovalada */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
    padding: 10px 25px;
    /* Espacio interno alrededor del texto y el ícono. Aumenta según lo necesites para que el botón sea más ovalado. */
    cursor: pointer;
    /* Cambia el cursor a una mano cuando se pasa por encima */
    transition: transform 0.3s ease-in-out;
    /* Anima el botón cuando se pasa el ratón por encima */
    display: flex;
    /* Para asegurar que el ícono y el texto estén alineados correctamente */
    justify-content: space-between;
    /* Separa el ícono y el texto en extremos opuestos */
}

.runClusterOneButton:hover {
    transform: scale(1.05);
    /* Hace el botón ligeramente más grande cuando se pasa el ratón por encima */
}

.runClusterOneButton i {
    margin-left: 10px;
    /* Aquí puedes añadir otros estilos que desees aplicar al ícono en particular */
}

/* Si tienes un tamaño específico para el ícono, puedes especificarlo. Por ejemplo, para un ícono FontAwesome: */
.runClusterOneButton i.fa {
    font-size: 16px;
    /* Puedes ajustar el tamaño según lo necesites */
}